{% extends "layout.html" %}

{% block pageTitle %}
  Wills, probate and inheritance
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Death and bereavement</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
      Wills, probate and <br>inheritance
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-!-font-size-16">Contents</p>

      <ul class="govuk-list ">
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/overview">Overview</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/if-the-person-left-a-will">If the person left a will</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/if-the-person-did-not-leave-a-will">If the person did not leave a will</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/executor">If you’re an executor</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/applying-for-probate">Applying for probate</a></li>
        <li class="govuk-!-font-size-16">— After you've applied</li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/stopping-probate">Stopping a probate application</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/search-probate">Search for probate records</a></li>


</ul>

</div>


    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h1 class="govuk-heading-m">
          After you've applied
        </h1>

        <p>You’ll get the grant of probate (or letters of administration) within 20 days of:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>swearing the oath - if you applied by post</li>
          <li>sending your documents - if you applied online</li>
        </ul>

        <p>Return it to the <a href="#1">Probate Registry</a> if there’s anything wrong with it.</p>

        <p>Send a copy to organisations that hold the assets of the person who died, for example their bank.</p>



        <h1 class="govuk-heading-m">
          Get access to financial assets
        </h1>

          <p>You can ask for financial assets to be transferred to an agreed ‘executorship account’. This can be either:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>an executor’s bank account</li>
            <li>an account that’s been set up only for dealing with the estate</li>
          </ul>

            <p>Every executor named on the grant of probate may need to be present when you withdraw assets. Different asset holders have different rules, so check with them first.</p>


            <h1 class="govuk-heading-m">
              Pay debts
            </h1>

            <p>As the executor or administrator you must pay off any debts or outstanding payments before distributing the estate. This could include:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>outstanding bills</li>
            <li>tax owed</li>
          </ul>

          <p><a href="#2">Place a notice in The Gazette</a> to give creditors the chance to claim anything they’re owed. This will protect you from responsibility for any debts.</p>

          <p>You can use money from the estate to pay any solicitor’s fees as part of the probate process.</p>

          <h1 class="govuk-heading-m">
            Jointly owned property and bank accounts
          </h1>

          <div class="govuk-inset-text">
          Apply by post if you want to apply in Welsh.
          </div>

            <p>Money in a joint bank account automatically passes to the other owners. You still have to include this money as part of the estate when you work out <a href="#3">Inheritance Tax</a>.</p>

            <p>If the person who died owned the whole of the home with another person (‘joint tenancy’), ownership passes to the other owner. Otherwise, their share goes to the beneficiary named in the will.</p>

            <div class="govuk-inset-text">
              Contact the mortgage company, <a href="#4">check with HM Land Registry</a> or get legal advice if you’re unsure how a property’s owned - you may need to <a href="#5">update the property records<a/>.
            </div>

            <h1 class="govuk-heading-m">
              Distribute the estate
            </h1>

            <p>Once all debts and taxes have been paid, you can distribute the estate as detailed:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>in the will</li>
              <li>by the law if <a href="#6">there’s no will<a/></li>
            </ul>

            <div class="govuk-inset-text">
              Beneficiaries may have to pay <a href="#7">Income Tax<a/> if the assets they inherit generate income for them.
            </div>



        <p>After this you can prepare the estate accounts. These must be approved and signed by you and the main beneficiaries.</p>






        <a href="/GOVUK-pages/applying-for-probate"><strong class="govuk-!-font-size-19"> < Previous</strong> <br>Applying for probate</a>

        <br>
        <br>

        <a href="/GOVUK-pages/stopping-probate"><strong class="govuk-!-font-size-19">Next ></strong> <br>Stopping a probate application</a>



    </div>
    <div class="govuk-grid-column-one-third">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section-blue">

      <aside role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#rc1">
                Inheritance Tax
              </a>
            </li>
            <li>
              <a href="#rc2">
                Making a will
              </a>
            </li>
            <li>
              <a href="#rc3">
                Claim or refer an unclaimed estate
              </a>
            </li>
            <li>
              <a href="#rc4">
                Valuing the estate of someone who's died
              </a>
            </li>
            <li>
              <a href="#rc5">
                What to do after someone dies
              </a>
            </li>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-!-font-size-16">Explore the topic</p>

            <li>
              <a href="#rc6" class="govuk-!-font-weight-bold">
                Inheritance Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc7" class="govuk-!-font-weight-bold">
                Capital Gains Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc8" class="govuk-!-font-weight-bold">
                Death and bereavement <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
