{% extends "layout.html" %}

{% block pageTitle %}
  GOVUK pages
{% endblock %}

<!-- {% block header %}
  {{ govukHeader() }}
{% endblock %} -->

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Death and bereavement</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
      Wills, probate and <br>inheritance
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-!-font-size-16">Contents</p>

      <ul class="govuk-list ">
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/overview">Overview</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/if-the-person-left-a-will">If the person left a will</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/if-the-person-did-not-leave-a-will">If the person did not leave a will</a></li>
        <li class="govuk-!-font-size-16">— If you’re an executor</li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/applying-for-probate">Applying for probate</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/after-you-applied">After you've applied</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/stopping-probate">Stopping a probate application</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/search-probate">Search for probate records</a></li>


</ul>

</div>


    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h1 class="govuk-heading-m">
          If you’re an executor
        </h1>

        <p>The person who died will normally have told you if you’re an executor.</p>

        <p>An executor only receives assets if they’re also named as a beneficiary.</p>



        <h1 class="govuk-heading-m">
          If there’s more than one executor
        </h1>

          <p>If more than one person is named as an executor, you must all agree who makes the application for probate. Up to 4 people can apply.</p>

          <p>Every executor who applies for probate must:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>legally declare that the information in the probate application is true</li>
            <li>sign the will and any updates (‘codicils’), or photocopies of them</li>
          </ul>

          <p>If only one executor applies they’ll need to prove they tried to contact all executors when they apply.</p>

          <p>You can <a href="#1">contact your local probate registry</a> if you’re having problems finding other executors.</p>

          <div class="govuk-inset-text">
            A probate registry cannot help with disagreements between executors. You’ll need to find another way to reach an agreement - this could mean getting legal advice.
          </div>

        <h1 class="govuk-heading-m">
          If you do not want to or cannot be an executor
        </h1>

      <p>The will may name a replacement executor for someone who becomes ‘unwilling or unable’ to deal with the estate.</p>

        <p><a href="#2">Contact your local probate registry</a> if no executors are willing or able to apply for probate.</p>

        <h1 class="govuk-heading-s">
          You do not want to be an executor
        </h1>

        <p>You can do one of the following:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>completely give up your right to apply for probate (‘renunciation’) - <a href="#3">fill in a renunciation form</a> and send it with the probate application form</li>
          <li>reserve your right to apply for probate later if another executor cannot deal with the estate (holding ‘power reserved’)</li>
          <li>appoint an attorney to act on your behalf - <a href="#4">fill in an attorney form</a> and send it with the probate application.</li>
        </ul>

        <h1 class="govuk-heading-s">
          When an executor is unable to apply for probate
        </h1>

        <p>A replacement executor should apply for probate if the executor is unable to, for example because:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>they’ve died</li>
          <li>they do not have ‘mental capacity’ - get a doctor to <a href="#5">fill in a mental capacity form</a> and send it with the probate applicatio</li>
        </ul>





        <a href="/GOVUK-pages/if-the-person-did-not-leave-a-will"><strong class="govuk-!-font-size-19"> < Previous</strong> <br>If the person did not leave a will</a>

        <br>
        <br>

        <a href="/GOVUK-pages/applying-for-probate"><strong class="govuk-!-font-size-19">Next ></strong> <br>Applying for probate</a>



    </div>
    <div class="govuk-grid-column-one-third">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section-blue">

      <aside role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#rc1">
                Inheritance Tax
              </a>
            </li>
            <li>
              <a href="#rc2">
                Making a will
              </a>
            </li>
            <li>
              <a href="#rc3">
                Claim or refer an unclaimed estate
              </a>
            </li>
            <li>
              <a href="#rc4">
                Valuing the estate of someone who's died
              </a>
            </li>
            <li>
              <a href="#rc5">
                What to do after someone dies
              </a>
            </li>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-!-font-size-16">Explore the topic</p>

            <li>
              <a href="#rc6" class="govuk-!-font-weight-bold">
                Inheritance Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc7" class="govuk-!-font-weight-bold">
                Capital Gains Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc8" class="govuk-!-font-weight-bold">
                Death and bereavement <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
