{% extends "layout.html" %}

{% block pageTitle %}
  Wills, probate and inheritance
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Death and bereavement</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
      Wills, probate and <br>inheritance
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-!-font-size-16">Contents</p>

      <ul class="govuk-list ">
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/overview">Overview</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/if-the-person-left-a-will">If the person left a will</a></li>
        <li class="govuk-!-font-size-16">— If the person did not leave a will</li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/executor">If you’re an executor</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/applying-for-probate">Applying for probate</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/after-you-applied">After you've applied</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/stopping-probate">Stopping a probate application</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/search-probate">Search for probate records</a></li>

</ul>

</div>


    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h1 class="govuk-heading-m">
          If the person did not leave a will
        </h1>

        <p>You can apply to be an ‘administrator’ of the estate if the person did not leave a will. The process is the same as <a href="/GOVUK-pages/applying-for-probate">applying for probate </a>.</p>

        <p>You’ll receive ‘letters of administration’ to prove you have the legal right to deal with the estate.</p>


        <h1 class="govuk-heading-m">
          Who can apply
        </h1>

          <p>You can usually apply if you’re the person’s next of kin, for example their spouse, civil partner or child.</p>

          <p>You can apply if you were still married or in a civil partnership with the person when they died, even if you were separated from them.</p>

          <p>You cannot apply if you’re the partner of the person but were not their spouse or civil partner when they died. You’re not automatically entitled to any of your partner’s estate.</p>

        <h1 class="govuk-heading-m">
          Who inherits
        </h1>

        <p>The law decides <a href="#1">who inherits the estate if there’s no will</a>.</p>

        <div class="govuk-inset-text">
          Read the <a href="#2">rules for inheritance in other EU countries</a>.
        </div>



        <a href="/GOVUK-pages/if-the-person-left-a-will"><strong class="govuk-!-font-size-19"> < Previous</strong> <br>If the person left a will</a>

        <br>
        <br>

        <a href="/GOVUK-pages/executor"><strong class="govuk-!-font-size-19">Next ></strong> <br>If you’re an executor</a>



    </div>
    <div class="govuk-grid-column-one-third">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section-blue">

      <aside role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Inheritance Tax
              </a>
            </li>
            <li>
              <a href="#">
                Making a will
              </a>
            </li>
            <li>
              <a href="#">
                Claim or refer an unclaimed estate
              </a>
            </li>
            <li>
              <a href="#">
                Valuing the estate of someone who's died
              </a>
            </li>
            <li>
              <a href="#">
                What to do after someone dies
              </a>
            </li>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-!-font-size-16">Explore the topic</p>

            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Inheritance Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Capital Gains Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Death and bereavement <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
