{% extends "layout.html" %}

{% block pageTitle %}
  Wills, probate and inheritance
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Death and bereavement</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
      Wills, probate and <br>inheritance
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-!-font-size-16">Contents</p>

      <ul class="govuk-list ">
  <li class="govuk-!-font-size-16">— Overview</li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/if-the-person-left-a-will">If the person left a will</a></li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/if-the-person-did-not-leave-a-will">If the person did not leave a will</a></li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/executor">If you’re an executor</a></li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/applying-for-probate">Applying for probate</a></li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/after-you-applied">After you've applied</a></li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/stopping-probate">Stopping a probate application</a></li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages/search-probate">Search for probate records</a></li>

</ul>

</div>


    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h1 class="govuk-heading-m">
          Overview
        </h1>

        <p>Applying for the legal right to deal with someone’s property, money and possessions (their ‘estate’) when they die is called ‘applying for probate’.</p>

        <p>If the person left a will, you’ll get a ‘grant of probate’.</p>

        <p>If the person did not leave a will, you’ll get ‘letters of administration’.</p>

        <p>You apply for both in the same way.</p>

        <div class="govuk-inset-text">
          The process is different in <a href="#1">Scotland</a> and <a href="#2">Northern Ireland</a>.
        </div>

        <p>You may not need probate if the person who died:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>had jointly owned land, property, shares or money - these will automatically pass to the surviving owners</li>
          <li>only had savings or premium bonds</li>
        </ul>

        <p>Contact each asset holder (for example a bank or mortgage company) to find out if you’ll need probate to get access to their assets. Every organisation has its own rules.</p>

        <h1 class="govuk-heading-m">
          How a probate application works
        </h1>

        <ol class="govuk-list govuk-list--number">
          <li>Check if there’s a will. There’s a different process if <a href="/if-the-person-did-not-leave-a-will">there’s no will</a>.</li>
          <br>
          <li><a href="#4">Value the estate </a> and report it to HMRC.</li>
          <br>
          <li><a href="applying-for-probate">Apply for probate</a>.</li>
          <br>
          <li>Pay any Inheritance Tax that’s due.</li>
          <br>
          <li>Collect the estate’s assets, for example money from the sale of the person’s property.</li>
          <br>
          <li>Pay off any debts, for example unpaid utilities bills.</li>
          <br>
          <li>Keep a record (‘estate accounts’) of how any property, money or possessions will be split.</li>
          <br>
          <li>Pass the estate (‘distribute the assets’) on to the people named in the will (‘beneficiaries’).</li>

        </ol>

        <!-- <a href="#"><strong class="govuk-!-font-size-19"> < Previous</strong> <br>If the person left a will</a>

        <br>
        <br> -->

        <a href="/GOVUK-pages/if-the-person-left-a-will"><strong class="govuk-!-font-size-19">Next ></strong> <br>If the person left a will</a>



    </div>
    <div class="govuk-grid-column-one-third">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section-blue">

      <aside role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#rc1">
                Inheritance Tax
              </a>
            </li>
            <li>
              <a href="#rc2">
                Making a will
              </a>
            </li>
            <li>
              <a href="#rc3">
                Claim or refer an unclaimed estate
              </a>
            </li>
            <li>
              <a href="#rc4">
                Valuing the estate of someone who's died
              </a>
            </li>
            <li>
              <a href="#rc5">
                What to do after someone dies
              </a>
            </li>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-!-font-size-16">Explore the topic</p>

            <li>
              <a href="#rc6" class="govuk-!-font-weight-bold">
                Inheritance Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc7" class="govuk-!-font-weight-bold">
                Capital Gains Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc8" class="govuk-!-font-weight-bold">
                Death and bereavement <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
