{% extends "layout.html" %}

{% block pageTitle %}
  Probate services
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Death and bereavement</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/GOVUK-pages/overview">Wills, probate and inheritance</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Probate services</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
      Probate services
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p class="govuk-!-font-size-16">Contents</p>

      <ul class="govuk-list ">
  <li class="govuk-!-font-size-16">— Apply for probate</li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/v2/stop-probate">Stop an application for probate</a></li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/v2/notified-probate">Get notified when a grant of probate is issued</a></li>

</ul>

  <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

</div>




    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h1 class="govuk-heading-l">
          Apply for probate
        </h1>


        <p>Probate gives you the legal right to deal with a person’s property, money and possessions (their ‘estate’) after they’ve died.</p>

        <p>You can complete and pay for an application for probate online.
          You may also need to post some supporting documents.
          We'll let you know what you need to send when you've completed your application.</p>

        <h3 class="govuk-heading-m">Joint applications</h3>

          <p>If more than one person is dealing with the estate you can only apply online if the person who died left a will.</p>

          <p>You must tell the other executors that you’re naming them in your application.
            They’ll be asked to confirm online that the information you provide is correct.</p>


          <p>The other applying executors need to have:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>seen the original will</li>
            <li>a mobile phone and email address</li>
            <li>access to the internet</li>
          </ul>



        <h3 class="govuk-heading-m">Fees</h3>

          <p>It costs £215 to apply for probate if the value of the estate is more than £5,000. It’s free if the value is less.</p>

          <p>Extra copies of the grant of probate cost 50p each.</p>

          <p>You’ll need to pay online by debit or credit card.</p>


          <a href="https://probate-prototype.herokuapp.com/screening-questions/death-certificate" role="button" draggable="false" class="govuk-button govuk-button--start">
            Start now
          </a>

          <br>
          <br>
          <br>



        <a href="/v2/stop-probate"><strong class="govuk-!-font-size-19">Next ></strong> <br>Stop an application for probate</a>



    </div>
    <!-- <div class="govuk-grid-column-one-third">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section-blue">

      <aside role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Inheritance Tax
              </a>
            </li>
            <li>
              <a href="#">
                Making a will
              </a>
            </li>
            <li>
              <a href="#">
                Claim or refer an unclaimed estate
              </a>
            </li>
            <li>
              <a href="#">
                Valuing the estate of someone who's died
              </a>
            </li>
            <li>
              <a href="#">
                What to do after someone dies
              </a>
            </li>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-!-font-size-16">Explore the topic</p>

            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Inheritance Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Capital Gains Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Death and bereavement <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
