{% extends "layout.html" %}

{% block pageTitle %}
  Probate services
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Death and bereavement</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/GOVUK-pages/overview">Wills, probate and inheritance</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Probate services</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
      Probate services
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p class="govuk-!-font-size-16">Contents</p>

      <ul class="govuk-list ">
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/v2/apply-for-probate">Apply for probate</a></li>
  <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/v2/stop-probate">Stop an application for probate</a></li>
  <li class="govuk-!-font-size-16">— Get notified when a grant of probate is issued</li>

</ul>

  <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

</div>




    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h1 class="govuk-heading-l">
          Get notified when a grant of probate is issued
        </h1>

        <p>You can get a copy of someone's will and grant of probate when it's been issued by the probate registry.
           All grants of probate are public records.</p>

        <p>Your application will last for 6 months. If the grant of probate has not been issued in that time, you can apply for another 6 months.</p>



        <h3 class="govuk-heading-m">You will need:</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li>the full name of the person who died (and any other names they were known by)</li>
            <li>the exact date they died</li>
          </ul>


        <h3 class="govuk-heading-m">Fees</h3>

          <p>It costs £10 to apply. Extra copies of the will and grant cost 50p.</p>

          <p>You'll need to pay online by debit or credit card.</p>


          <a href="https://probate-stand-search-prototype.herokuapp.com/applicant/name" role="button" draggable="false" class="govuk-button govuk-button--start">
            Start now
          </a>



        <br>
        <br>
        <br>


        <a href="/v2/stop-probate"><strong class="govuk-!-font-size-19"> < Previous</strong> <br>Stop an application for probate</a>



    </div>
    <!-- <div class="govuk-grid-column-one-third">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section-blue">

      <aside role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Inheritance Tax
              </a>
            </li>
            <li>
              <a href="#">
                Making a will
              </a>
            </li>
            <li>
              <a href="#">
                Claim or refer an unclaimed estate
              </a>
            </li>
            <li>
              <a href="#">
                Valuing the estate of someone who's died
              </a>
            </li>
            <li>
              <a href="#">
                What to do after someone dies
              </a>
            </li>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-!-font-size-16">Explore the topic</p>

            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Inheritance Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Capital Gains Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Death and bereavement <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
