{% extends "layout.html" %}

{% block pageTitle %}
  Wills, probate and inheritance
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" href="#">
        <a class="govuk-breadcrumbs__link">Death and bereavement</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
      Wills, probate and <br>inheritance
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-!-font-size-16">Contents</p>

      <ul class="govuk-list ">
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-v2/overview">Overview</a></li>
        <li class="govuk-!-font-size-16">— If the person left a will</li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-v2/if-the-person-did-not-leave-a-will">If the person did not leave a will</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-v2/executor">If you’re an executor</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-v2/applying-for-probate">Applying for probate</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-v2/after-you-applied">After you've applied</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-v2/stopping-probate">Stopping a probate application</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-v2/search-probate">Search for probate records</a></li>

</ul>

</div>


    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h1 class="govuk-heading-m">
          If the person left a will
        </h1>

        <p>A will states what should happen to a person’s property and belongings (‘estate’) after they die. It’s usually valid if it’s been signed by the person who made it and 2 witnesses.</p>

        <p>An <a href="/GOVUK-pages-v2/executor">executor</a> is someone named in the will, or in an update to the will (a ‘codicil’), as a person who can deal with the estate.</p>

        <p>An executor usually applies for probate to deal with the estate.</p>

        <p>You need the will and any updates to apply for probate. These must be original documents, not photocopies.</p>

        <h1 class="govuk-heading-m">
          Find the original will
        </h1>

          <p>The person who died should have told all the executors where to find the original will and any updates, for example:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>at their house</li>
            <li>with a solicitor</li>
            <li>at the <a href="#1">London Probate Department</a> - you’ll need the death certificate and to prove you’re the executor to be sent the will</li>
          </ul>

        <div class="govuk-inset-text">
          Get help from a legal professional or <a href="#2">Citizens Advice</a> if you cannot understand a will or codicil.
        </div>

        <h1 class="govuk-heading-m">
          You cannot find the original will
        </h1>

        <p>You’ll need to <a href="#3">fill in a lost will form</a>  if you cannot find the original will.</p>



        <h1 class="govuk-heading-m">
          There’s more than one will
        </h1>

        <p>Only the most recent will is valid. Do not destroy any copies of earlier wills until you’ve received probate.</p>



        <a href="/GOVUK-pages-v2/overview"><strong class="govuk-!-font-size-19"> < Previous</strong> <br>Overview</a>

        <br>
        <br>

        <a href="/GOVUK-pages-v2/if-the-person-did-not-leave-a-will"><strong class="govuk-!-font-size-19">Next ></strong> <br>If the person did not leave a will </a>



    </div>
    <div class="govuk-grid-column-one-third">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section-blue">

      <aside role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#rc1">
                Inheritance Tax
              </a>
            </li>
            <li>
              <a href="#rc2">
                Making a will
              </a>
            </li>
            <li>
              <a href="#rc3">
                Claim or refer an unclaimed estate
              </a>
            </li>
            <li>
              <a href="#rc4">
                Valuing the estate of someone who's died
              </a>
            </li>
            <li>
              <a href="#rc5">
                What to do after someone dies
              </a>
            </li>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-!-font-size-16">Explore the topic</p>

            <li>
              <a href="#rc6" class="govuk-!-font-weight-bold">
                Inheritance Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc7" class="govuk-!-font-weight-bold">
                Capital Gains Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc8" class="govuk-!-font-weight-bold">
                Death and bereavement <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
