
{% extends "layout.html" %}

{% block pageTitle %}
  Probate services index
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Probate services: v2
    </h1>

    <a href="/v3/apply-for-probate" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start</a>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p>Testing at the GDS lab on 14 November 2018</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      All pages
    </span>
  </summary>
  <div class="govuk-details__text">

    <h1 class="govuk-heading-m">
      Service v3
    </h1>
    <span class="govuk-caption-m">GOVUK pages</span>
    <ul>
    <li> <a class="govuk-link" href="/GOVUK-pages/overview">Overview</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/if-the-person-left-a-will">If the person left a will</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/if-the-person-did-not-leave-a-will">If the person did not leave a will</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/executor">If you’re an executor</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/applying-for-probate">Applying for probate</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/after-you-applied">After you've applied</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/stopping-probate">Stopping a probate application</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/search-probate">Search for probate records</a></li>
    </ul>

    <span class="govuk-caption-m">Probate start pages</span>
    <ul>
      <li>  <a class="govuk-link" href="/v3/apply-for-probate">Apply for probate</a></li>
      <li>  <a class="govuk-link" href="/v3/stop-probate">Stop an application for probate</a></li>
      <li>  <a class="govuk-link" href="/v3/notified-probate">Get notified when a grant of probate is issued</a></li>
    </ul>

    <br>
    <br>


    <h1 class="govuk-heading-m">
      Service v2
    </h1>
    <span class="govuk-caption-m">GOVUK pages</span>
    <ul>
    <li> <a class="govuk-link" href="/GOVUK-pages/overview">Overview</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/if-the-person-left-a-will">If the person left a will</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/if-the-person-did-not-leave-a-will">If the person did not leave a will</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/executor">If you’re an executor</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/applying-for-probate">Applying for probate</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/after-you-applied">After you've applied</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/stopping-probate">Stopping a probate application</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/search-probate">Search for probate records</a></li>

    </ul>
    <span class="govuk-caption-m">Probate start pages</span>
    <ul>
      <li>  <a class="govuk-link" href="/v2/apply-for-probate">Apply for probate</a></li>
      <li>  <a class="govuk-link" href="/v2/stop-probate">Stop an application for probate</a></li>
      <li>  <a class="govuk-link" href="/v2/notified-probate">Get notified when a grant of probate is issued</a></li>
    </ul>



  </div>


</details>


  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Controls
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <!-- <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul> -->
      </nav>
    </aside>

  </div>
</div>

{% endblock %}
