
{% extends "layout.html" %}

{% block pageTitle %}
  Probate services index
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Probate GOVUK pages
    </h1>

    <a href="/GOVUK-pages/overview" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start</a>

    <br>

    <ul>
    <li> <a class="govuk-link govuk-!-font-size-19" href="http://probate-prototype.herokuapp.com/start">Apply for Probate (probate, intestacy and admon)</a></li>
    <li> <a class="govuk-link govuk-!-font-size-19" href="https://probate-caveat-proto.herokuapp.com/start">Stop an application for probate (caveat)</a></li>
    <li> <a class="govuk-link govuk-!-font-size-19" href="https://probate-stand-search-prototype.herokuapp.com/start">Get notified when a grant of probate is issued (standing seach)</a></li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

 <p>Instructions for this prototype can be found on the <a target="blank" href="https://tools.hmcts.net/confluence/display/PRO/Probate+prototypes">probate prototypes page</a>.</p>

 <p>See the <a target="blank" href="https://tools.hmcts.net/confluence/display/PRO/Beta+%7C+UX+design">Beta | UX design pages</a> to underatand how prototypes were iterated by the probate UX team.</p>

 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      All pages
    </span>
  </summary>
  <div class="govuk-details__text">

    <h1 class="govuk-heading-s">
      GOVUK pages
    </h1>

    <ul>
    <li> <a class="govuk-link" href="/GOVUK-pages/overview">Overview</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/if-the-person-left-a-will">If the person left a will</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/if-the-person-did-not-leave-a-will">If the person did not leave a will</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/executor">If you’re an executor</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/applying-for-probate">Applying for probate</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/after-you-applied">After you've applied</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/stopping-probate">Stopping a probate application</a></li>
    <li> <a class="govuk-link" href="/GOVUK-pages/search-probate">Search for probate records</a></li>
    </ul>

    <h1 class="govuk-heading-s">
      Find a will pages
    </h1>

    <ul>
    <li> <a class="govuk-link" href="/find-a-will/find-a-will-start">Find a will start page</a></li>
    <li> <a class="govuk-link" href="/find-a-will/find-a-will">Find a will</a></li>

    </ul>
    <h1 class="govuk-heading-s">
      Probate services start pages
    </h1>

    <ul>
    <li> <a class="govuk-link govuk-!-font-size-19" href="http://probate-prototype.herokuapp.com/start">Apply for probate</a></li>
    <li> <a class="govuk-link govuk-!-font-size-19" href="https://probate-caveat-proto.herokuapp.com/start">Stop an application for probate</a></li>
    <li> <a class="govuk-link govuk-!-font-size-19" href="https://probate-stand-search-prototype.herokuapp.com/start">Get notified when a grant of probate is issued</a></li>
    </ul>



    <br>
    <br>





  </div>


</details>


  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Controls
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <!-- <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul> -->
      </nav>
    </aside>

  </div>
</div>

{% endblock %}
