{% extends "layout.html" %}

{% block pageTitle %}
  Wills, probate and inheritance
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Births, deaths, marriages and care</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" href="#">
        <a class="govuk-breadcrumbs__link">Death and bereavement</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
      Wills, probate and <br>inheritance
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-!-font-size-16">Contents</p>

      <ul class="govuk-list ">
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-(old)/overview">Overview</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-(old)/if-the-person-left-a-will">If the person left a will</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-(old)/if-the-person-did-not-leave-a-will">If the person did not leave a will</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-(old)/executor">If you’re an executor</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-(old)/applying-for-probate">Applying for probate</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-(old)/after-you-applied">After you've applied</a></li>
        <li class="govuk-!-font-size-16">— <a class="govuk-link govuk-!-font-size-16" href="/GOVUK-pages-(old)/stopping-probate">Stopping a probate application</a></li>
        <li class="govuk-!-font-size-16">— Search for probate records</li>


</ul>

</div>


    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h1 class="govuk-heading-m">
          Search for probate records
        </h1>

        <p>You can search for a probate record in England and Wales online or by post.</p>

        <h1 class="govuk-heading-m">
          Search online for a probate record
        </h1>

          <p>You can <a href="https://www.gov.uk/search-will-probate">search online</a> for records for people who died after 1857. You can also order copies for £10 each.</p>

          <p>You can also <a href="/v2/notified-probate">get notified when a grant of probate is issued </a> if the person died within the last 6 months. </p>


          <div class="govuk-inset-text">
            It can take up to 10 working days to receive your documents.
          </div>

            <p>A new probate record will be online approximately 14 days after probate has been issued.</p>


            <h1 class="govuk-heading-m">
              Search for a probate record by post
            </h1>

            <p>Download and fill in form PA1S - Application for a search (copies of grants and wills). Send it to the address on the form.</p>

          <p>It costs £10. This includes a copy of the probate and the will (if there is one).</p>

          <p>You should get a response within 4 weeks.</p>


        <a href="/GOVUK-pages-(old)/stopping-probate"><strong class="govuk-!-font-size-19"> < Previous</strong> <br>Stopping a probate application</a>

        <br>
        <br>

        <!-- <a href="/GOVUK-pages-(old)/search-probate"><strong class="govuk-!-font-size-19">Next ></strong> <br>Search for probate records</a> -->



    </div>
    <div class="govuk-grid-column-one-third">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section-blue">

      <aside role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#rc1">
                Inheritance Tax
              </a>
            </li>
            <li>
              <a href="#rc2">
                Making a will
              </a>
            </li>
            <li>
              <a href="#rc3">
                Claim or refer an unclaimed estate
              </a>
            </li>
            <li>
              <a href="#rc4">
                Valuing the estate of someone who's died
              </a>
            </li>
            <li>
              <a href="#rc5">
                What to do after someone dies
              </a>
            </li>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-!-font-size-16">Explore the topic</p>

            <li>
              <a href="#rc6" class="govuk-!-font-weight-bold">
                Inheritance Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc7" class="govuk-!-font-weight-bold">
                Capital Gains Tax <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="#rc8" class="govuk-!-font-weight-bold">
                Death and bereavement <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
